{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

<!-- {% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %} -->

{% block content %}
<!-- route -->
<div class="container-fluid">
  <div class="row">
    <div class="col md-12">
      <div class="jumbotron p-3">
        <h2>Manage <b>Routes</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New Routes</button></h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                  <span aria-hidden="true">x</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <table class="table table-hover table-dark">
          <tr>
            <th>ID</th>
            <th>Driver ID</th>
            <th>Date</th>
            <th>Truck</th>
            <th>Driver</th>
            <th>Customer</th>
            <th>Loading point</th>
            <th>Unloading point</th>
            <th>Received amount</th>
            <th>Shipping price</th>
            <th>Payment method</th>
            <th>Debt</th>
            <th>Comment</th>
            <th>Action</th>
          </tr>
          {% for row in routes %}
          <tr>
            <td>{{row.id}}</td>
            <td>{{row.owner_id}}</td>
            <td>{{row.date}}</td>
            <td>{{row.truck_id}}</td>
            <td>{{row.last_name}}</td>
            <td>{{row.customer}}</td>
            <td>{{row.loading}}</td>
            <td>{{row.unloading}}</td>
            <td>{{row.received}}</td>
            <td>{{row.price}}</td>
            <td>{{row.payment}}</td>
            <td>{{row.debt}}</td>
            <td>{{row.comment}}</td>
            <td>
              <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
              <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
            </td>
          </tr>

          <!-- Modal Add Route-->
          <div id="mymodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add Route</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('insert')}}" method="POST">
                      <div class="form-group">
                        <label>Driver ID:</label>
                        <input type="number" class="form-control" name="owner_id" value="{{row.owner_id}}">
                      </div>
                        <div class="form-group">
                          <label>Date:</label>
                          <input type="date" class="form-control" name="date" value="{{row.date}}">
                        </div>
                        <div class="form-group">
                          <label>Truck:</label>
                          <input type="number" class="form-control" name="truck_id" value="{{row.truck_id}}">
                        </div>
                        <div class="form-group">
                          <label>Driver:</label>
                          <input type="text" class="form-control" name="last_name" value="{{row.last_name}}">
                        </div>
                        <div class="form-group">
                          <label>Customer:</label>
                          <input type="text" class="form-control" name="customer" value="{{row.customer}}">
                        </div>
                        <div class="form-group">
                          <label>Loading point:</label>
                          <input type="text" class="form-control" name="loading" value="{{row.loading}}">
                        </div>
                        <div class="form-group">
                          <label>Unloading point:</label>
                          <input type="text" class="form-control" name="unloading" value="{{row.unloading}}">
                        </div>
                        <div class="form-group">
                          <label>Received amount:</label>
                          <input type="number" class="form-control" name="received" value="{{row.received}}">
                        </div>
                        <div class="form-group">
                          <label>Shipping price:</label>
                          <input type="number" class="form-control" name="price" value="{{row.price}}">
                        </div>
                        <div class="form-group">
                          <label>Payment method:</label>
                          <input type="text" class="form-control" name="payment" value="{{row.payment}}">
                        </div>
                        <div class="form-group">
                          <label>Debt:</label>
                          <input type="number" class="form-control" name="debt" value="{{row.debt}}">
                        </div>
                        <div class="form-group">
                          <label>Comment:</label>
                          <input type="text" class="form-control" name="comment" value="{{row.comment}}">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">Add</button>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
            </div>
          </div>

          <!-- Modal Edit Route-->
          <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Update Route</h4>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('update')}}" method="POST">
                      <div class="form-group">
                        <label>Driver ID:</label>
                        <input type="number" class="form-control" name="owner_id" value="{{row.owner_id}}">
                      </div>
                        <div class="form-group">
                          <label>Date:</label>
                          <input type="date" class="form-control" name="date" value="{{row.date}}">
                        </div>
                        <div class="form-group">
                          <label>Truck:</label>
                          <input type="number" class="form-control" name="truck_id" value="{{row.truck_id}}">
                        </div>
                        <div class="form-group">
                          <label>Driver:</label>
                          <input type="text" class="form-control" name="last_name" value="{{row.last_name}}">
                        </div>
                        <div class="form-group">
                          <label>Customer:</label>
                          <input type="text" class="form-control" name="customer" value="{{row.customer}}">
                        </div>
                        <div class="form-group">
                          <label>Loading point:</label>
                          <input type="text" class="form-control" name="loading" value="{{row.loading}}">
                        </div>
                        <div class="form-group">
                          <label>Unloading point:</label>
                          <input type="text" class="form-control" name="unloading" value="{{row.unloading}}">
                        </div>
                        <div class="form-group">
                          <label>Received amount:</label>
                          <input type="number" class="form-control" name="received" value="{{row.received}}">
                        </div>
                        <div class="form-group">
                          <label>Shipping price:</label>
                          <input type="number" class="form-control" name="price" value="{{row.price}}">
                        </div>
                        <div class="form-group">
                          <label>Payment method:</label>
                          <input type="text" class="form-control" name="payment" value="{{row.payment}}">
                        </div>
                        <div class="form-group">
                          <label>Debt:</label>
                          <input type="number" class="form-control" name="debt" value="{{row.debt}}">
                        </div>
                        <div class="form-group">
                          <label>Comment:</label>
                          <input type="text" class="form-control" name="comment" value="{{row.comment}}">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </table>
      </div>



    </div>
  </div>
</div>

<main class="container p-5">
  <div class="container-fluid">
      


      <form action="/day" method="post">
        <div class="form-group col-md-4">
            <label class="control-label" for="delivery_date">Date:</label>
              <input autocomplete="off" autofocus class="form-control" name="delivery_date" placeholder="Date" type="date">
          </div>
          <div class="form-group col-md-4">
              <label class="control-label" for="truck_id">Truck:</label>    
            <input class="form-control" name="truck_id" placeholder="Truck" type="number">
          </div>
          <div class="form-group col-md-4">            
              <label class="control-label" for="truck_id">Driver:</label>  
              <input class="form-control" name="checkout" placeholder="Driver's last name" type="number">
          </div>
          <div class="form-group col-md-4">            
              <label class="control-label" for="truck_id">Check-out:</label>  
              <input class="form-control" name="checkout" placeholder="Check-out value" type="number">
          </div>
          <div class="form-group col-md-4">
            <label class="control-label" for="truck_id">Check-in:</label> 
              <input class="form-control" name="checkin" placeholder="Check-in value" type="number">
          </div>
          <div class="form-group col-md-4">
            <label class="control-label" for="truck_id">Total:</label> 
              <input class="form-control" name="totalcheck" placeholder="Total" type="number">
          </div>
          <div class="form-group col-md-12">
            <label class="control-label" for="truck_id">Customer:</label> 
              <input class="form-control" name="customer" placeholder="Customer" type="text">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="truck_id">Cargo loading point:</label> 
              <input class="form-control" name="loading" placeholder="Cargo loading point" type="text">
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="truck_id">Cargo unloading point:</label>     
              <input class="form-control" name="unloading" placeholder="Cargo unloading point" type="text">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" for="truck_id">Received amount:</label>     
              <input class="form-control" name="received_amount" placeholder="Received amount" type="number">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" for="truck_id">Shipping price:</label> 
              <input class="form-control" name="shipping" placeholder="Shipping price" type="number">
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" for="truck_id">Payment method:</label> 
              <select class="form-control" id="dropDown" name="payment_method">
              <option disabled selected value =""> Payment method </option>
              <option value = "Paid Off"> Paid Off </option>
              <option value = "Not Paid Off"> Not Paid Off </option>
              </select>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" for="truck_id">Status:</label> 
              <input class="form-control" name="status" placeholder="Status" type="number">
          </div>
    <div class="col-sm-12 text-center">
            <button class="btn btn-info btn-block" type="submit">Submit</button>
          </div>
      </form>
  </div>  
</main>



    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout')}}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
{% endblock %}